.IssuesList {
  width: 100%;
  height: calc(100vh - 7rem);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #44475a;
}

.IssuesList > h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}

.IssuesList > h3 span {
  font-size: 0.8rem;
  margin-left: 1rem;
}

.IssuesList__content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
  list-style: none;
  margin: 0;
}